@use '../../theme/src/mixins/input.scss' as *;

.x-input {
  @include input-base;

  &--small {
    @include input-size(var(--x-input-small-height), var(--x-input-small-padding), var(--x-font-size-sm));
  }

  &--medium {
    @include input-size(var(--x-input-medium-height), var(--x-input-medium-padding), var(--x-font-size-base));
  }

  &--large {
    @include input-size(var(--x-input-large-height), var(--x-input-large-padding), var(--x-font-size-lg));
  }

  &.is-disabled {
    @include input-disabled;
  }

  &.is-focused {
    .x-input__inner {
      border-color: var(--x-color-primary);
    }
  }
}

.x-input__inner {
  @include input-inner;
}
